div{
    /* units */
width:33%;
height:450px;
border:1px solid red;
float: left;
}

img{
/* Percentage value  depends on its parent,here
 the parent ofimage is div */
    width:100%;
    height:50%;

}

.Head{

    text-align: center;
    text-decoration: underline;
    color: blue;
}
.section1{

    border-color: blue;
}
.section1 h3{
    color:brown;
    text-align: center;
    text-decoration: underline;
}