div{
   
   height: 112px;
    background-color:darkkhaki;
    border:1px solid black;
    width: 50%;
    padding: 100px;
   
}
.foot{
    margin-top: 410px;
    margin-left: 300px;
}
.head{
    margin-left:300px;
}