body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
}
.row{
width: 60%;
/* height:400px; */
background-color: blueviolet;
border: 1px solid rgb(136, 16, 16);
display: flex;
justify-content: space-evenly;
align-items: center;
}
.col{
width: 40%;
height:200px;
border: 1px solid black;
}
.row .col:nth-child(1){
background-color: brown;
}
.row .col:nth-child(2){
 background-color: aqua; 
 /* flex: 1;   */
}
.row .col:nth-child(3){
 background-color: teal;   
}
@media (max-width:500px){
    .row{
        flex-direction: column;
    }
    .col{
        width:70%;
        padding: 20px;
    }
}